 * {
  margin: 0;
  text-align: center;
}

.all {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  justify-content: center;
  width: 300px;
  height: 200px;
  align-items: center;
  margin-bottom: 1vw;
  border: 1px solid black;
}